<script src="http://www.geoplugin.net/javascript.gp"></script>

<script>
	/**
	* Rewritten version of the UA weather-plugin written by Sima Ahava
	* View his blog: http://www.simoahava.com/web-development/universal-analytics-weather-custom-dimension/
	*
	* @author Erwin Goossen <goossen@justlease.nl>
	* @created: 2015-02-24
	*
	* The MIT License (MIT)
	* Copyright (c) 2015 Justlease.nl
	*
	* Permission is hereby granted, free of charge, to any person obtaining a copy
	* of this software and associated documentation files (the "Software"), to deal
	* in the Software without restriction, including without limitation the rights
	* to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
	* copies of the Software, and to permit persons to whom the Software is
	* furnished to do so, subject to the following conditions:
	*
	* The above copyright notice and this permission notice shall be included in
	* all copies or substantial portions of the Software.
	*
	* THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
	* IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
	* FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
	* AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
	* LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
	* OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
	* THE SOFTWARE.
	*/
	function loadWeather() {
		/**
		* Create and set the vars
		*/
		var xmlhttp,
			lat = geoplugin_latitude(),
			lon = geoplugin_longitude(),
			weather = "",
			weatherAPI = "http://api.openweathermap.org/data/2.5/weather?lat="+lat+"&lon="+lon+"&units=metric";
		
		/**
		* Create the XMLHttpRequest object. We don't need a fallback fot IE6 and below
		* Nobody wants to us it anyway;-)
		*/
		xmlhttp = new XMLHttpRequest();
		
		/**
		* [The readystate has been changed. If it's 4 we need to do our stuff
		*/
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 ) {
				/**
				* Everything went well. Now cast the result to a json object and push the weather
				*/
				if(xmlhttp.status == 200){
					var data = JSON.parse( xmlhttp.responseText );
					weather = data.weather[0].main;
					dataLayer.push({"weather": weather});
				}
				/**
				* There's a bad request. Probably an incorrect url
				*/
				else if(xmlhttp.status == 400) {
					//console.log('There was an error 400');
				}
				/**
				* One of the other states. For a full lost check: https://en.wikipedia.org/wiki/List_of_HTTP_status_codes
				*/
				else {
					//console.log('something else other than 200 was returned');
				}
			}
		};
		/**
		* First we initialize our request and filaly we're sending our request to the server.
		* If there's a result our onreadystatechange will be triggered
		*/
		xmlhttp.open("GET", weatherAPI, true);
		xmlhttp.send();
	}
	loadWeather();
</script>